.jumbotron{
    position: relative;
    background: no-repeat;
    background-size: cover;
    background-position: center;
    height: 92vh;
}

.text-responsive-large {
  font-size: calc(100% + 2vw + 2vh);
}

.text-responsive-small {
    font-size: calc(100% + 1vw + 1vh);
  }