.my-primary {
    background-color: #da1f34;
}

.btn-primary {
    background-color: #302f80;
    border: #302f80;
}

.btn-secondary {
    background-color: #da1f34;
    border: #da1f34;
}

.banner_background {
    background: rgb(150,149,245);
    background: linear-gradient(90deg, rgba(150,149,245,1) 0%, rgba(102,101,198,1) 50%, rgba(61,61,144,1) 100%);
}

.btn-secondary:hover {
    background-color: red;
    border: red;
}

.text-responsive-large {
    font-size: calc(100% + 2vw + 2vh);
}
  
.text-responsive-small {
      font-size: calc(100% + 1vw + 1vh);    
}

.text-responsive-smaller {
    font-size: calc(100% + .6vw + .6vh);    
}

.card {
    transition: all 0.2s ease-in;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-out;
  }