    <footer class=" text-white my-primary">
      <section class="d-flex justify-content-center p-3 border-bottom"></section>

      <section class="d-flex justify-content-center">
        <div class="container text-md-start mt-5">
          <div class="row">
            <div class="col-md-3  mx-auto mb-4">
              <h5 class="text-uppercase fw-bold mb-4">
                The Guardian Agency
              </h5>
              <p>
                Learn how we can help guard your assests and provide the best
                coverage for whatever your insurance needs are.
              </p>
            </div>

            <div class="col-md-2  mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Services & Links</h6>
              <p>
                <a class="text-white" href="{% url 'home'%}">Home </a>
              </p>
              <p>
                <a to="/commercial" class="text-reset">
                  Commercial
                </a>
              </p>
              <p>
                <a to="/contact" class="text-reset">
                  Contact
                </a>
              </p>
              <p>
                <a to="/about" class="text-reset">
                  About
                </a>
              </p>
            </div>

            <div class="col-md-3  mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Business Hours</h6>
              <p>
                Monday - Friday
                <br />
                9:00 AM - 5:00 PM
              </p>
              <p>Saturdays by appointment</p>
            </div>

            <div class="col-md-4 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p>
                33 W Higgins Rd, Suite 2100
                <br />
                South Barrington, IL 60010
              </p>
              <p>
              </p>
              <p>
                <i class="fa fa-envelope"></i>
                Personal: service@emrz-ins.com <br />
                <i class="fa fa-envelope"></i>
                Commercial: erzinsurance@gmail.com
              </p>
              <p>
                <i class="fa fa-phone"></i>
                (847) 485-1550
              </p>
              <p>
                <i class="fa fa-fax"></i>
                (847) 708-6700
              </p>
            </div>
          </div>
        </div>
      </section>
    </footer>