{% load static %}
<link rel="stylesheet" href="{% static 'pages/header.css' %}">

<div class="jumbotron rounded-0 text-white" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({%static 'images/header_bg.png'%})">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="text-center ">
      <h1 class="text-responsive-large">WELCOME TO THE GUARDIAN AGENCY</h1>
      <h5 class="text-responsive-small">Learn how we can help guard what's most valuable to you</h5>
      {% comment %} <a class="btn btn-primary btn-lg" href="#content" role="button">Learn more</a> {% endcomment %}
      <button class="btn btn-primary btn-lg" onclick="scrollDivId('content')" >Learn more</button>
    </div>
  </div>
<!-- /.container   -->
</div>