{% load static %}
<h2 class="h1-responsive font-weight-bold text-center">Finding our location</h2>
<div class="border rounded mb-4">
    <p class="lead text-center mt-3 pl-2 pr-2">We are located east of Bartlett Rd and west of Barrington Rd across from Goebberts Farm & Garden Center</p>
    <img class="img-fluid pl-4 pr-4 pb-4" src="{%static 'images/large_map.png'%}" alt="Large small showing location of the agency office.">
    <p class="lead text-center mt-1 pl-2 pr-2">
    Once you enter the office park, park your car on the south side of the lot. Then follow the path going towards the center of the park where the pond is located. Our door is facing the pond. Our suite number is 2100.
    </p>
    <img class="img-fluid pl-4 pr-4 pb-4" src="{%static 'images/small_map.png'%}" alt="Large small showing location of the agency office.">
</div>