{% load static %}
<link rel="stylesheet" type='text/css' href="{% static 'pages/small-header.css' %}">
<div class="jumbotron rounded-0 text-white justify-content-center align-items-center" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url({%static header_img %})">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="text-center ">
        <h1 class="text-responsive-large">{{ header_title }}</h1>
        <h5 class="text-responsive-small">{{ header_subtitle }}</h5>
        </div>
    </div>
</div>