{% load static %}
<div class="">
  <div class="container">
    <div class="row">
        <div class="col-md text-center mt-1">
            <img width="250" src="{% static card_img1 %}" alt="{{card_alt1}}" />
            <h2>{{card_title1}}</h2>
            <p>{{card_text1}}</p>
            <button class="btn btn-primary btn-lg" onclick="scrollDivId('header1')" >Learn more</button>
        </div>

        <div class="col-md text-center mt-1">
            <img width="250" src="{% static card_img2 %}" alt="{{card_alt2}}" />
            <h2>{{card_title2}}</h2>
            <p>{{card_text2}}</p>
            <button class="btn btn-primary btn-lg" onclick="scrollDivId('header2')" >Learn more</button>
        </div>

        <div class="col-md text-center mt-1">
            <img width="250" src="{% static card_img3 %}" alt="{{card_alt3}}" />
            <h2>{{card_title3}}</h2>
            <p>{{card_text3}}</p>
            <button class="btn btn-primary btn-lg" onclick="scrollDivId('header3')" >Learn more</button>
        </div>
    </div>
    <hr class="featurette-divider" />  
  </div>
  
  <div class="container">
  <div class="">
    <h1 class="text-center text-responsive-small pt-3">We have many companies to choose from</h1>
    <img class="img-fluid w-100" src={% static banner_img %} alt={{ banner_alt }}>  
    <hr class="featurette-divider" />
  </div>
  </div>
  
  <div class="container">
    

    <div class="row featurette" id="header1">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{feature_title1 }}</h2>
          <p class="lead">{{ feature_text1 }}</p>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" src="{% static feature_img1%}" alt="{{feature_alt1}}"} />
        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette" id="header2">
        <div class="col-md-5">
          <img class="img-fluid" src="{% static feature_img2 %}" alt="{{feature_alt2}}"} />
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{ feature_title2 }}</h2>
          <p class="lead">{{ feature_text2 }}</p>
        </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette" id="header3">
        <div class="col-md-7">
          <h2 class="featurette-heading">{{feature_title3 }}</h2>
          <p class="lead">{{ feature_text3 }}</p>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" src="{% static feature_img3 %}" alt="{{feature_alt3}}"} />
        </div>
    </div>

    <hr class="featurette-divider" />
    </div>
</div>