{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container">
    <div class="mt-2">
    <h1> {{ object.title }} </h1> 
    <h3>Author: {{ object.user.first_name }} {{ object.user.last_name }}</h3>
    </div>
    <div class="row">
        <div class="col-md-9">
            {% if request.user.is_authenticated %}
                <a class="btn btn-primary" href="{{ object.get_edit_url }}">Edit</a>
                <a class="btn btn-secondary" href="{{ object.get_delete_url }}">Delete</a>
            {% endif %}
            <div class="lead mt-2">
                <p class="">{{ object.content|linebreaks }}</p>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'articles/partials/sidebar.html' %}
        </div> 
    </div>
</div>
{% endblock content %}
